# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Django stuff
*.log
*.pot
*.pyc
*~
db.sqlite3
*.sqlite3
media
staticfiles

# OS
.DS_Store
Thumbs.db

# IDEs e Ferramentas
.vscode/
.idea/
*.sublime-project
*.sublime-workspace